.form-box{
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;
}
.form-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.form-box input, button{
    border: 0;
    background: none;
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #3742fa;
    color: #fff;
    outline: none;
    border-radius: 24px
}